In [3]:
# Dependencies
import pandas as pd

In [4]:
# Name of the CSV file
file = 'Resources/citibike_tripdata1.csv'

In [5]:
# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv(file, encoding="ISO-8859-1")

In [6]:
# Preview of the DataFrame
df.head()

                                                                                                                                                                                                                                                         JC-202103-citibike-tripdata
tripduration starttime                stoptime                 start station id start station name start station latitude start station longitude end station id end station name  end station latitude end station longitude bikeid usertype birth year                      gender
369          2021-03-01 00:07:46.3700 2021-03-01 00:13:55.6430 3202             Newport PATH       40.7272235             -74.0337589             3639           Harborside        40.7192517           -74.034234            43798  Customer 1970                                 0
102          2021-03-01 00:13:25.3020 2021-03-01 00:15:07.7810 3276             Marin Light Rail   40.71458403535890      -74.04281705617910      3276           Marin Light Rail  40.71458403535890    -74.04281705617910    28583  Customer 1970                                 0
2036         2021-03-01 00:16:39.7080 2021-03-01 00:50:35.8980 3276             Marin Light Rail   40.71458403535890      -74.04281705617910      3280           Astor Place       40.71928220070700    -74.07126188278200    46627  Customer 1970                                 0
366          2021-03-01 00:21:44.7390 2021-03-01 00:27:51.6070 3639             Harborside         40.7192517             -74.034234              3205           JC Medical Center 40.71653978099190    -74.0496379137039     43798  Customer 1970                                 0

In [41]:
import datetime
datetime.datetime.fromtimestamp(1621389029).isoformat()

'2021-05-18T20:50:29'

In [42]:
# import time
# int(time.mktime(time.strptime("2021-05-19 03:50:29"))) - time.timezone

In [43]:
# Delete extraneous column
# del df['FIELD8']
# df.head()

In [44]:
# Identify incomplete rows
df.count()

JC-202103-citibike-tripdata    16844
dtype: int64

In [45]:
# Drop all rows with missing information
df = df.dropna(how='any')

In [46]:
# Verify dropped rows
df.count()

JC-202103-citibike-tripdata    16844
dtype: int64

In [47]:
df

                                                                                                                                                                                                                                                             JC-202103-citibike-tripdata
tripduration starttime                stoptime                 start station id start station name    start station latitude start station longitude end station id end station name   end station latitude end station longitude bikeid usertype birth year                      gender
369          2021-03-01 00:07:46.3700 2021-03-01 00:13:55.6430 3202             Newport PATH          40.7272235             -74.0337589             3639           Harborside         40.7192517           -74.034234            43798  Customer 1970                                 0
102          2021-03-01 00:13:25.3020 2021-03-01 00:15:07.7810 3276             Marin Light Rail      40.71458403535890      -74.04281705617910      3276           Marin Light Rail   40.71458403535890    -74.04281705617910    28583  Customer 1970                                 0
2036         2021-03-01 00:16:39.7080 2021-03-01 00:50:35.8980 3276             Marin Light Rail      40.71458403535890      -74.04281705617910      3280           Astor Place        40.71928220070700    -74.07126188278200    46627  Customer 1970                                 0
366          2021-03-01 00:21:44.7390 2021-03-01 00:27:51.6070 3639             Harborside            40.7192517             -74.034234              3205           JC Medical Center  40.71653978099190    -74.0496379137039     43798  Customer 1970                                 0
...                                                                                                                                                                                                                                                                                  ...
493          2021-03-31 23:49:04.6750 2021-03-31 23:57:17.7900 3185             City Hall             40.7177325             -74.043845              3192           Liberty Light Rail 40.7112423           -74.0557013           45261  Customer 1970                                 0
296          2021-03-31 23:49:33.7240 2021-03-31 23:54:29.8450 3186             Grove St PATH         40.71958611647170      -74.04311746358870      3203           Hamilton Park      40.727595966         -74.044247311         45499  Customer 1970                                 0
346          2021-03-31 23:53:36.2020 2021-03-31 23:59:22.2370 3187             Warren St             40.7211236             -74.03805095            3199           Newport Pkwy       40.7287448           -74.0321082           42635  Customer 1970                                 0
872          2021-03-31 23:54:36.3950 2021-04-01 00:09:09.1080 3193             Lincoln Park          40.7246050998869       -74.07840594649320      3206           Hilltop            40.7311689           -74.0575736           27102  Customer 1970                                 0
587          2021-03-31 23:58:04.5740 2021-04-01 00:07:52.2170 3225             Baldwin at Montgomery 40.7236589             -74.0641943             3276           Marin Light Rail   40.71458403535890    -74.04281705617910    45940  Customer 1970                                 0

[16844 rows x 1 columns]

In [63]:
# df['starttime'] = df['starttime'].values.astype(dtype='datetime64[ms]') # for msec format

In [64]:
# df['starttime'] = (df['starttime']/day_divider).values.astype(dtype='datetime64[D]') # for day format

In [49]:
# The Amount column is the wrong data type. It should be numeric.
df.dtypes

JC-202103-citibike-tripdata    object
dtype: object

In [50]:
# Use pd.to_numeric() method to convert the datatype of the Amount column
# df['Amount'] = pd.to_numeric(df['Amount'])

In [51]:
# Verify that the Amount column datatype has been made numeric
# df[''].dtype

In [52]:
# Display an overview of the Employers column
df.value_counts().head(50)

JC-202103-citibike-tripdata
0                              14953
1                               1417
2                                473
gender                             1
dtype: int64

In [53]:
# df["gender"].value_counts()

In [54]:
# Clean up Employer category. Replace 'Self Employed' and 'Self' with 'Self-Employed'
# df['Employer'] = df['Employer'].replace(
#     {
#         'Self Employed': 'Self-Employed',
#         'Self': 'Self-Employed'
#     }
# )

In [56]:
# Verify clean-up.
# df['Employer'].value_counts().head(50)

In [57]:
# df['Employer'] = df['Employer'].replace({'Not Employed': 'Unemployed'})
# df['Employer'].value_counts()

In [58]:
# Display a statistical overview
# We can infer the maximum allowable individual contribution from 'max'
df.describe()

       JC-202103-citibike-tripdata
count                        16844
unique                           4
top                              0
freq                         14953

In [59]:
# Name of the CSV file
file2 = 'Resources/citibike_tripdata2.csv'

In [60]:
df2 = pd.read_csv(file2, encoding="ISO-8859-1")

In [61]:
df2.head()

                                                                                                                                                                                                                                                                     JC-202104-citibike-tripdata
tripduration starttime                stoptime                 start station id start station name    start station latitude start station longitude end station id end station name           end station latitude end station longitude bikeid usertype birth year                      gender
1900         2021-04-01 00:07:25.4780 2021-04-01 00:39:06.0800 3225             Baldwin at Montgomery 40.7236589             -74.0641943             3225           Baldwin at Montgomery      40.7236589           -74.0641943           45464  Customer 1970                                 0
236          2021-04-01 00:08:13.9440 2021-04-01 00:12:10.1330 3186             Grove St PATH         40.71958611647170      -74.04311746358870      3276           Marin Light Rail           40.71458403535890    -74.04281705617910    38392  Customer 1970                                 0
1047         2021-04-01 00:11:01.4250 2021-04-01 00:28:28.5300 3276             Marin Light Rail      40.71458403535890      -74.04281705617910      3678           Fairmount Ave              40.72572613742560    -74.07195925712590    54268  Customer 1970                                 0
491          2021-04-01 00:15:09.7010 2021-04-01 00:23:20.8380 3202             Newport PATH          40.7272235             -74.0337589             3792           Columbus Dr at Exchange Pl 40.71687             -74.03281             42307  Customer 1970                                 0

In [62]:
df2.value_counts().head(50)

JC-202104-citibike-tripdata
0                              22392
1                                667
2                                259
gender                             1
dtype: int64

In [66]:
import pandas as pd
import datetime

In [67]:
# create a datetime data object
d_time = datetime.date(2010, 11, 12)

In [68]:
# create a pandas Timestamp object
t_stamp = pd.to_datetime('2010/11/12')

In [69]:
# cast `datetime_timestamp` as Timestamp object and compare
d_time2t_stamp = pd.to_datetime(d_time)

In [70]:
# print to double check
print(d_time)
print(t_stamp)
print(d_time2t_stamp)

2010-11-12
2010-11-12 00:00:00
2010-11-12 00:00:00

In [71]:
# since the conversion succeds this prints `True`
print(d_time2t_stamp == t_stamp)

True

In [75]:
# day_divider = 86400000

# df2['starttime'] = df2['starttime'].values.astype(dtype='datetime64[ms]') # for msec format

# df2['starttime'] = (df2['starttime']/day_divider).values.astype(dtype='datetime64[D]') # for day format