In [43]:
import pandas as pd

In [44]:
{}
'2020 Dataset of Trip History'

'2020 Dataset of Trip History'

In [45]:
df_one_2020 = pd.read_csv("202002_citibike_1.csv")
df_one_2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,841,2020-02-01 00:02:13.7650,2020-02-01 00:16:15.4720,3199,Newport Pkwy,40.728745,-74.032108,3213,Van Vorst Park,40.718489,-74.047727,42217,Subscriber,1980,1
1,206,2020-02-01 00:16:11.3850,2020-02-01 00:19:37.4460,3273,Manila & 1st,40.721651,-74.042884,3639,Harborside,40.719252,-74.034234,42160,Subscriber,1990,1
2,859,2020-02-01 00:23:22.1090,2020-02-01 00:37:41.5060,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,42204,Customer,1991,1
3,693,2020-02-01 00:25:14.5170,2020-02-01 00:36:48.0280,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,42165,Subscriber,1987,1
4,1473,2020-02-01 00:32:30.5050,2020-02-01 00:57:04.3740,3192,Liberty Light Rail,40.711242,-74.055701,3639,Harborside,40.719252,-74.034234,26156,Customer,1969,0

In [46]:
df_two_2020 = pd.read_csv("202003_citibike_2.csv")
df_two_2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,389,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,1
1,242,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,1
2,124,2020-03-01 01:08:46.4880,2020-03-01 01:10:51.2780,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,0
3,104,2020-03-01 01:22:35.4790,2020-03-01 01:24:20.2470,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,1
4,228,2020-03-01 01:39:20.2680,2020-03-01 01:43:09.1380,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,1

In [47]:
df_three_2020 = pd.read_csv("202004_citibike_3.csv")
df_three_2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1437,2020-04-01 01:06:20.6300,2020-04-01 01:30:17.9680,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,2
1,264,2020-04-01 05:02:42.0570,2020-04-01 05:07:06.1260,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,2
2,254,2020-04-01 06:20:28.1190,2020-04-01 06:24:42.1380,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,1
3,429,2020-04-01 06:33:30.5170,2020-04-01 06:40:40.1990,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,1
4,805,2020-04-01 06:38:32.9220,2020-04-01 06:51:58.2050,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,1

In [48]:
frames = [df_one_2020, df_two_2020, df_three_2020]

In [49]:
result_2020 = pd.concat(frames)
print (result_2020)

      tripduration                 starttime                  stoptime  \
0              841  2020-02-01 00:02:13.7650  2020-02-01 00:16:15.4720
1              206  2020-02-01 00:16:11.3850  2020-02-01 00:19:37.4460
2              859  2020-02-01 00:23:22.1090  2020-02-01 00:37:41.5060
3              693  2020-02-01 00:25:14.5170  2020-02-01 00:36:48.0280
4             1473  2020-02-01 00:32:30.5050  2020-02-01 00:57:04.3740
...            ...                       ...                       ...
9263           597  2020-04-30 22:18:40.4140  2020-04-30 22:28:38.1280
9264           311  2020-04-30 22:23:18.7780  2020-04-30 22:28:30.2980
9265           167  2020-04-30 22:34:51.8480  2020-04-30 22:37:39.6690
9266           520  2020-04-30 22:50:52.2380  2020-04-30 22:59:33.1620
9267          1043  2020-04-30 22:54:39.0840  2020-04-30 23:12:02.1790

      start station id  start station name  start station latitude  \
0                 3199        Newport Pkwy               40.728745
1                 3273        Manila & 1st               40.721651
2                 3185           City Hall               40.717733
3                 3185           City Hall               40.717733
4                 3192  Liberty Light Rail               40.711242
...                ...                 ...                     ...
9263              3678       Fairmount Ave               40.725726
9264              3195             Sip Ave               40.730897
9265              3640      Journal Square               40.733670
9266              3195             Sip Ave               40.730897
9267              3191            Union St               40.718211

      start station longitude  end station id         end station name  \
0                  -74.032108            3213           Van Vorst Park
1                  -74.042884            3639               Harborside
2                  -74.043845            3268           Lafayette Park
3                  -74.043845            3277  Communipaw & Berry Lane
4                  -74.055701            3639               Harborside
...                       ...             ...                      ...
9263               -74.071959            3279              Dixon Mills
9264               -74.063913            3679               Bergen Ave
9265               -74.062500            3206                  Hilltop
9266               -74.063913            3280              Astor Place
9267               -74.083639            3275           Columbus Drive

      end station latitude  end station longitude  bikeid    usertype  \
0                40.718489             -74.047727   42217  Subscriber
1                40.719252             -74.034234   42160  Subscriber
2                40.713464             -74.062859   42204    Customer
3                40.714358             -74.066611   42165  Subscriber
4                40.719252             -74.034234   26156    Customer
...                    ...                    ...     ...         ...
9263             40.721630             -74.049968   42240    Customer
9264             40.722104             -74.071455   42535  Subscriber
9265             40.731169             -74.057574   42615  Subscriber
9266             40.719282             -74.071262   42403  Subscriber
9267             40.718355             -74.038914   42255    Customer

      birth year  gender
0           1980       1
1           1990       1
2           1991       1
3           1987       1
4           1969       0
...          ...     ...
9263        1969       0
9264        1986       1
9265        1991       1
9266        1976       1
9267        1999       1

[49949 rows x 15 columns]

In [50]:
#save on to csv
result_2020.to_csv('2020_citibike_results.csv')

In [51]:
{} 
'2021 Data Set for Trip History'

'2021 Data Set for Trip History'

In [52]:
df_one_2021 = pd.read_csv("Resources/202102_citibike_1.csv")
df_one_2021.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,683,2021-02-01 00:08:57.2940,2021-02-01 00:20:21.2680,3483,Montgomery St,40.719420,-74.050990,3203,Hamilton Park,40.727596,-74.044247,40517,Subscriber,1958,1
1,2850,2021-02-01 00:21:12.4910,2021-02-01 01:08:42.9560,3203,Hamilton Park,40.727596,-74.044247,3275,Columbus Drive,40.718355,-74.038914,40517,Subscriber,1958,1
2,545,2021-02-01 00:53:08.7500,2021-02-01 01:02:14.3890,3220,5 Corners Library,40.734961,-74.059503,3212,Christ Hospital,40.734786,-74.050444,44907,Customer,1996,1
3,473,2021-02-01 00:59:10.1110,2021-02-01 01:07:03.8480,3220,5 Corners Library,40.734961,-74.059503,3210,Pershing Field,40.742677,-74.051789,29727,Subscriber,1987,2
4,748,2021-02-01 01:01:29.4990,2021-02-01 01:13:57.8940,3210,Pershing Field,40.742677,-74.051789,3269,Brunswick & 6th,40.726012,-74.050389,45550,Subscriber,1962,1

In [53]:
df_two_2021=pd.read_csv("Resources/202103_citibike_2.csv")
df_two_2021.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,369,2021-03-01 00:07:46.3700,2021-03-01 00:13:55.6430,3202,Newport PATH,40.727224,-74.033759,3639,Harborside,40.719252,-74.034234,43798,Customer,1970,0
1,102,2021-03-01 00:13:25.3020,2021-03-01 00:15:07.7810,3276,Marin Light Rail,40.714584,-74.042817,3276,Marin Light Rail,40.714584,-74.042817,28583,Customer,1970,0
2,2036,2021-03-01 00:16:39.7080,2021-03-01 00:50:35.8980,3276,Marin Light Rail,40.714584,-74.042817,3280,Astor Place,40.719282,-74.071262,46627,Customer,1970,0
3,366,2021-03-01 00:21:44.7390,2021-03-01 00:27:51.6070,3639,Harborside,40.719252,-74.034234,3205,JC Medical Center,40.716540,-74.049638,43798,Customer,1970,0
4,718,2021-03-01 00:22:28.1290,2021-03-01 00:34:26.3650,3483,Montgomery St,40.719420,-74.050990,3638,Washington St,40.724294,-74.035483,42277,Subscriber,1958,1

In [54]:
df_three_2021=pd.read_csv("Resources/202104_citibike_3.csv")
df_three_2021.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1900,2021-04-01 00:07:25.4780,2021-04-01 00:39:06.0800,3225,Baldwin at Montgomery,40.723659,-74.064194,3225,Baldwin at Montgomery,40.723659,-74.064194,45464,Customer,1970,0
1,236,2021-04-01 00:08:13.9440,2021-04-01 00:12:10.1330,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,38392,Customer,1970,0
2,1047,2021-04-01 00:11:01.4250,2021-04-01 00:28:28.5300,3276,Marin Light Rail,40.714584,-74.042817,3678,Fairmount Ave,40.725726,-74.071959,54268,Customer,1970,0
3,491,2021-04-01 00:15:09.7010,2021-04-01 00:23:20.8380,3202,Newport PATH,40.727224,-74.033759,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,42307,Customer,1970,0
4,193,2021-04-01 00:21:05.0750,2021-04-01 00:24:18.2960,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,44452,Customer,1970,0

In [55]:
#creating a 2014 Dataframe with all the csv's
frames_2021 = [df_one_2021, df_two_2021, df_three_2021]

In [56]:
result_2021 = pd.concat(frames_2021)
print (result_2021)

       tripduration                 starttime                  stoptime  \
0               683  2021-02-01 00:08:57.2940  2021-02-01 00:20:21.2680
1              2850  2021-02-01 00:21:12.4910  2021-02-01 01:08:42.9560
2               545  2021-02-01 00:53:08.7500  2021-02-01 01:02:14.3890
3               473  2021-02-01 00:59:10.1110  2021-02-01 01:07:03.8480
4               748  2021-02-01 01:01:29.4990  2021-02-01 01:13:57.8940
...             ...                       ...                       ...
23313          1700  2021-04-30 23:55:22.9900  2021-05-01 00:23:43.6660
23314          1958  2021-04-30 23:55:50.6830  2021-05-01 00:28:28.7000
23315           877  2021-04-30 23:57:33.1520  2021-05-01 00:12:11.0930
23316           173  2021-04-30 23:59:38.4630  2021-05-01 00:02:31.8160
23317           174  2021-04-30 23:59:43.2470  2021-05-01 00:02:37.5830

       start station id start station name  start station latitude  \
0                  3483      Montgomery St               40.719420
1                  3203      Hamilton Park               40.727596
2                  3220  5 Corners Library               40.734961
3                  3220  5 Corners Library               40.734961
4                  3210     Pershing Field               40.742677
...                 ...                ...                     ...
23313              3202       Newport PATH               40.727224
23314              3677       Glenwood Ave               40.727551
23315              3272       Jersey & 3rd               40.723332
23316              3276   Marin Light Rail               40.714584
23317              3186      Grove St PATH               40.719586

       start station longitude  end station id  end station name  \
0                   -74.050990            3203     Hamilton Park
1                   -74.044247            3275    Columbus Drive
2                   -74.059503            3212   Christ Hospital
3                   -74.059503            3210    Pershing Field
4                   -74.051789            3269   Brunswick & 6th
...                        ...             ...               ...
23313               -74.033759            3184       Paulus Hook
23314               -74.071061            3193      Lincoln Park
23315               -74.045953            3202      Newport PATH
23316               -74.042817            3276  Marin Light Rail
23317               -74.043117            3279       Dixon Mills

       end station latitude  end station longitude  bikeid    usertype  \
0                 40.727596             -74.044247   40517  Subscriber
1                 40.718355             -74.038914   40517  Subscriber
2                 40.734786             -74.050444   44907    Customer
3                 40.742677             -74.051789   29727  Subscriber
4                 40.726012             -74.050389   45550  Subscriber
...                     ...                    ...     ...         ...
23313             40.714145             -74.033552   39772    Customer
23314             40.724605             -74.078406   32575    Customer
23315             40.727224             -74.033759   42495    Customer
23316             40.714584             -74.042817   42470    Customer
23317             40.721630             -74.049968   39839    Customer

       birth year  gender
0            1958       1
1            1958       1
2            1996       1
3            1987       2
4            1962       1
...           ...     ...
23313        1970       0
23314        1970       0
23315        1970       0
23316        1970       0
23317        1970       0

[44886 rows x 15 columns]

In [57]:
#the main 2021 data frame will be saved on to a csv
# result_2021.to_csv('2020_citibike_results.csv')

In [58]:
#save on to csv file for 2021
# result_2020.to_csv('2021_citibike_results.csv')

In [59]:
citi_combined = pd.concat([result_2020, result_2021])
citi_combined

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,841,2020-02-01 00:02:13.7650,2020-02-01 00:16:15.4720,3199,Newport Pkwy,40.728745,-74.032108,3213,Van Vorst Park,40.718489,-74.047727,42217,Subscriber,1980,1
1,206,2020-02-01 00:16:11.3850,2020-02-01 00:19:37.4460,3273,Manila & 1st,40.721651,-74.042884,3639,Harborside,40.719252,-74.034234,42160,Subscriber,1990,1
2,859,2020-02-01 00:23:22.1090,2020-02-01 00:37:41.5060,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,42204,Customer,1991,1
3,693,2020-02-01 00:25:14.5170,2020-02-01 00:36:48.0280,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,42165,Subscriber,1987,1
4,1473,2020-02-01 00:32:30.5050,2020-02-01 00:57:04.3740,3192,Liberty Light Rail,40.711242,-74.055701,3639,Harborside,40.719252,-74.034234,26156,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23313,1700,2021-04-30 23:55:22.9900,2021-05-01 00:23:43.6660,3202,Newport PATH,40.727224,-74.033759,3184,Paulus Hook,40.714145,-74.033552,39772,Customer,1970,0
23314,1958,2021-04-30 23:55:50.6830,2021-05-01 00:28:28.7000,3677,Glenwood Ave,40.727551,-74.071061,3193,Lincoln Park,40.724605,-74.078406,32575,Customer,1970,0
23315,877,2021-04-30 23:57:33.1520,2021-05-01 00:12:11.0930,3272,Jersey & 3rd,40.723332,-74.045953,3202,Newport PATH,40.727224,-74.033759,42495,Customer,1970,0
23316,173,2021-04-30 23:59:38.4630,2021-05-01 00:02:31.8160,3276,Marin Light Rail,40.714584,-74.042817,3276,Marin Light Rail,40.714584,-74.042817,42470,Customer,1970,0
23317,174,2021-04-30 23:59:43.2470,2021-05-01 00:02:37.5830,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,39839,Customer,1970,0

In [60]:
bike_id_count_2020 = result_2020.groupby('bikeid').count()['start station id']
bike_id_count_2020

bikeid
14578     3
15363    16
15387    15
16584    14
17273    14
         ..
42625    76
42629    90
42634    79
42635    87
42636    60
Name: start station id, Length: 795, dtype: int64

In [61]:
bike_id_count_2021 = result_2021.groupby('bikeid').count()['start station id']
bike_id_count_2021

bikeid
15377     45
15585     19
15730     75
16065      7
16159     16
        ...
54268    129
54269    106
54270     13
54358    123
55298      9
Name: start station id, Length: 688, dtype: int64

In [62]:
bike_id_count_joined = pd.DataFrame(bike_id_count_2020).join(
    bike_id_count_2021,
    how='outer',
    lsuffix='_2020',
    rsuffix='_2021'
)
bike_id_count_joined

        start station id_2020  start station id_2021
bikeid
14578                     3.0                    NaN
15363                    16.0                    NaN
15377                     NaN                   45.0
15387                    15.0                    NaN
15585                     NaN                   19.0
...                       ...                    ...
54268                     NaN                  129.0
54269                     NaN                  106.0
54270                     NaN                   13.0
54358                     NaN                  123.0
55298                     NaN                    9.0

[1379 rows x 2 columns]

In [63]:
from numpy import isnan

where_are_nans = isnan(bike_id_count_joined)
bike_id_count_joined[where_are_nans] = 0
bike_id_count_joined

        start station id_2020  start station id_2021
bikeid
14578                     3.0                    0.0
15363                    16.0                    0.0
15377                     0.0                   45.0
15387                    15.0                    0.0
15585                     0.0                   19.0
...                       ...                    ...
54268                     0.0                  129.0
54269                     0.0                  106.0
54270                     0.0                   13.0
54358                     0.0                  123.0
55298                     0.0                    9.0

[1379 rows x 2 columns]

In [64]:
bike_id_count_joined['bike_id_count_change'] = \
    (bike_id_count_joined['start station id_2021'] - \
    bike_id_count_joined['start station id_2020']) / \
    bike_id_count_joined['start station id_2020']
bike_id_count_joined

        start station id_2020  start station id_2021  bike_id_count_change
bikeid
14578                     3.0                    0.0                  -1.0
15363                    16.0                    0.0                  -1.0
15377                     0.0                   45.0                   inf
15387                    15.0                    0.0                  -1.0
15585                     0.0                   19.0                   inf
...                       ...                    ...                   ...
54268                     0.0                  129.0                   inf
54269                     0.0                  106.0                   inf
54270                     0.0                   13.0                   inf
54358                     0.0                  123.0                   inf
55298                     0.0                    9.0                   inf

[1379 rows x 3 columns]

In [65]:
bike_id_count_joined_filtered = bike_id_count_joined[
    bike_id_count_joined['start station id_2020'] != 0
]
bike_id_count_joined_filtered = bike_id_count_joined_filtered[
    bike_id_count_joined['start station id_2021'] != 0
]
bike_id_count_joined_filtered

/Users/amusaadebayo/opt/anaconda3/envs/PythonAdv/lib/python3.6/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

        start station id_2020  start station id_2021  bike_id_count_change
bikeid
18220                     2.0                   71.0             34.500000
27705                    17.0                   64.0              2.764706
27808                    17.0                   29.0              0.705882
32971                     2.0                   67.0             32.500000
34038                    21.0                   76.0              2.619048
...                       ...                    ...                   ...
42596                   104.0                  127.0              0.221154
42601                    99.0                  120.0              0.212121
42614                    93.0                  123.0              0.322581
42625                    76.0                  101.0              0.328947
42635                    87.0                   58.0             -0.333333

[104 rows x 3 columns]

In [66]:
df = bike_id_count_joined_filtered.to_csv('citibikeId_results.csv')

In [67]:
# bike_id_count_joined_filtered.to_csv('')
df

In [70]:
print ('df')

df